main { padding: 3vh 3vw; }

.responsive-table {
	overflow-x: auto;
	margin-bottom: 100px;
}

.db-table {
	width: 100%;
	border: solid 1px black;
	border-collapse: collapse;
}

.db-table th:not(:first-child) { padding: 4px 2em; pointer-events: none; }
.db-table th {
	white-space: nowrap;
	border: solid 1px black;
	line-height: 0;
	padding: 4px 0;
}

.db-table td {
	text-align: center;
	cursor: default;
	white-space: nowrap;
	height: 32px;
}
.td-padding	{ padding: 4px 6px; }

input {
	box-sizing: border-box;
	font: inherit;
	width: 100%;
	height: 100%;
	text-align: center;
}

.create {
	height: 84px;
	width: 84px;
	position: fixed;
	bottom: 8vh;
	left: 4vw;
	background-color: #fff;
}

.show-children-toggle + label { background-image: url('/icons/toggle-sub-table.svg'); }
.show-kit-toggle + label { background-image: url('/icons/add-kit.svg') }
.bulk-show-kit-toggle + label { background-image: url('/icons/add-kit-all.svg') }

.await {
	display: block;
	height: 84px;
	width: 84px;
	margin: 0 auto;
	/* animation: rotating 3s linear infinite; */
	z-index: 5;
	position: relative;
	background-color: #fff;
}

.queue-label {
	font-size: 1.5em;
	position: fixed;
	bottom: 10vh;
	left: 0;
	height: 84px;
	width: 100%;
	text-align: center;
}
.queue-label > span {
	position: absolute;
	z-index: 10;
	top: 50%;
	left: 50%;	
	transform: translate(-50%, -50%);
}

@keyframes rotating { 100% {
	transform: rotate(360deg);
}}
