main {
	padding: 3vh 3vw;
}

.responsive-table {
	overflow-x: auto;
	margin-bottom: 100px;
}

.db-table {
	width: 100%;
	border: solid 1px black;
	border-collapse: collapse;
}

.db-table th {
	padding: 4px 2em;
	white-space: nowrap;
	border: solid 1px black;
}

.db-table td {
	text-align: center;
	padding: 4px 0;
	cursor: default;
}

.line-icon {
	display: inline-block;
	height: 1.25em;
	width: 1.25em;
	background-size: 1.25em;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	margin: 0 4px;
}

.checkbox-icon {
	background-image: url('/icons/checkbox.svg');
}
.toggle:checked ~ .checkbox-icon {
	background-image: url('/icons/checkbox-checked.svg')
}

.create {
	height: 84px;
	width: 84px;
	position: fixed;
	bottom: 8vh;
	left: 3vw;
}
