.sub-table {
	display: block;
	max-height: 300px;
	border-collapse: collapse;
	overflow-y: auto;
	float: left;
	margin-left: 15vw;
}

.sub-table > tbody > tr:nth-child(even) { background-color: #eee;}

.sub-table td {
	padding: 4px 2em;
}
